* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
  background-image: #f5f5f7;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.navHead {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 05px 5px rgba(52, 50, 50, 0.46);
  background-color: #f5f5f7f8;
}

nav .logo {
  width: 150px;
  height: 50px;
  font-size: 30px;
  padding: 9px 4px;
}
.menuSocial {
  display: none;
}
.menuSocialResponsive {
  display: flex;
}
.menuSocialResponsive li {
  padding: 0 0.2rem;
  margin-top: 5px;
}
.menuSocialResponsive li img {
  padding: 0 0.2rem;
}

.backImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #1d1d1f;
  text-align: center;
  font-size: 8vh;
  letter-spacing: 8px;
  margin-top: -100px;
}
.navBar {
  display: none;
}
.navBarResponsive {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 3em;
  width: 100%;
  background: #313132;
  box-shadow: 0px 05px 5px rgba(23, 22, 22, 0.496);
  z-index: 99999;
}
.navBarResponsive .logoNav a {
  position: absolute;
  left: 5%;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  font-size: 30px;
  padding: 8px 0px 0px;
  transition: 0.5s;
}
.menuLinkResponsive {
  position: relative;
  display: flex;
  align-items: center;
  right: -100%;
  transition: 00.2s;
  padding-right: 10vw;
}
.menuLinkResponsive li a {
  margin-left: 4vw;
  color: whitesmoke;
}

#menuHamToggle {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 1rem;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.containerMenu {
  display: flex;
  overflow: hidden;
}
.menuHam {
  position: absolute;
  top: 23px;
  right: 1rem;

  width: 30px;
  height: 4px;
  background: whitesmoke;
  border-radius: 5px;
}
.menuHam::after,
.menuHam::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  right: 0;
  background: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
}
.menuHam::before {
  top: -10px;
  height: 4px;
}
.menuHam::after {
  top: 10px;
  height: 4px;
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam::after {
  transform: rotate(90deg) translateX(-10px);
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam::before {
  transform: rotate(90deg) translateX(10px);
  opacity: 0;
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam {
  transform: rotate(45deg);
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuLinkResponsive {
  right: 0;
}

.navBarResponsive input[type="checkbox"]:checked ~ .logoNav a {
  opacity: 0;
}
.section {
  position: static;
  padding: 20vh 10vmin;
  margin: 0px 0;
  min-height: 100vh;
  width: 100;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(156, 154, 154, 0.829),
    0 -1px 1px rgba(145, 142, 142, 0.884);
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover; */
  z-index: -3;
}
#project {
  /* background-image: url(/Medias/2.jpg); */
  background-color: #f5f5f7;
}
#actions {
  /* background-image: url(/Medias/3.jpg); */
  background-color: #f5f5f7;
}
#agenda {
  /* background-image: url(/Medias/5.jpg); */
  background-color: #f5f5f7;
}
#contact {
  /* background-image: url(/Medias/message_bottle.jpg); */
  background-color: #f5f5f7;
}
.artContainer img {
  width: 95%;
  filter: sepia(50%) opacity(80%);
  margin: 20px 2%;
  border-radius: 1.5%;
}
.artContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 80%;
  margin: 0 2%;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 3%;
}
.artContainer p {
  font-size: 1em;
  margin: 20px 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #1d1d1f;
}
#agenda .artContainer{
  display: flex;
  
  
}
#agenda .event1,.event2,.event3{
  border: #1e1d1d 1px solid;
  height: 90%;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
  
}

form {
  max-width: 500px;
  margin: 25px auto;
}

#contact h2 {
  margin-top: 20px;
  text-align: center;
}

.fInput {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #1e1d1d;
  transition: all 0.3s;
  padding: 1px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

.fInput:focus {
  background-color: rgba(245, 245, 245, 0.358);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.submit {
  width: 100%;
  background: #4d4c4c;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: whitesmoke;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: 10px;
}

.submit:hover {
  background: #2a2a2a;
}
footer {
  width: 100%;
  height: 3em;
  background-color: #313132;
  box-shadow: 0px -2px 5px rgba(23, 22, 22, 0.377);
  color: whitesmoke;
  text-align: center;
  padding-top: 1rem;
}
@media screen and (min-width: 650px) {
  .menuSocial {
    display: flex;
    align-items: center;
    padding: 9px;
  }
  .menuSocialResponsive {
    display: none;
  }
  .menuSocial li a{
    display: inline-block;
    padding-right: 2.5vw;
    margin-left: 2.5vw;
    color: #313132;
    font-size: 20px;
  }
  .menuSocial li a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 1px;
    filter: blur(1px);
    background: #000000;
    transition: width 0.2s ease-in-out;
  }
  .menuSocial li a:hover::after {
    width: 100%;
  }
  
  .navBar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 3em;
    width: 100%;
    background: #313132;
    box-shadow: 0px 05px 5px rgba(23, 22, 22, 0.496);
    overflow: hidden;
    z-index: 99999;
  }
  .navBar .logoNav {
    display: flex;
    align-items: flex-end;
  }
  .navBar .logoNav a {
    width: 150px;
    height: 50px;
    color: whitesmoke;
    font-size: 30px;
    padding: 8px 0px 0px 4vw;
    transition: 0.5s;
    cursor: pointer;
    margin-top: -8px;
  }
  .navBarResponsive {
    display: none;
  }
  .menuLinkResponsive {
    display: none;
  }
  .menuLink {
    display: flex;
    justify-content: flex-end;
    padding: 15px 6%;
  }
  .menuLink li a {
    color: whitesmoke;
    display: inline-block;
    margin-left: 6.2vw;
    font-size: 20px;
  }
  .navBar li a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 1px;
    filter: blur(1px);
    background: rgb(255, 253, 253);
    transition: width 0.2s ease-in-out;
  }
  .navBar li a:hover::after {
    width: 100%;
  }
  
  .floatLeft {
    float: left;
    margin: 5px;
    max-width: 50%;
  }
  .floatRight {
    float: right;
    margin: 5px;
    max-width: 50%;
  }

  .artContainer {
    display: block;
  }
  
  #agenda .artContainer{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
    height: 100%;
  }
  #agenda .event1,.event2,.event3{
    box-shadow: 0 1px 1px rgba(156, 154, 154, 0.552),
    0 -1px 1px rgba(145, 142, 142, 0.474);
    height: 90%;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
   
  }
}
