* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.navHead {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 05px 5px rgba(52, 50, 50, 0.46);
  background-color: rgba(255, 255, 255, 0.601);
}

nav .logo {
  text-align: center;
  width: 150px;
  height: 50px;
  border: 3px solid;
  font-size: 30px;
  padding: 6px;
}
.menuSocial {
  display: none;
}
.menuSocialResponsive {
  display: flex;
}
.menuSocialResponsive li {
  padding: 0 0.2rem;
  margin-top: 5px;
}
.menuSocialResponsive li img {
  padding: 0 0.2rem;
}
.backImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
.navBar {
  display: none;
}
.navBarResponsive {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 3em;
  width: 100%;
  background: rgb(0, 12, 15);
  box-shadow: 0px 05px 5px rgba(23, 22, 22, 0.496);
}
.navBarResponsive .logoNav {
  position: absolute;
  left: 5%;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  font-size: 30px;
  padding: 8px 0px 0px;
  transition: 0.5s;
}
.menuLinkResponsive {
  position: relative;
  display: flex;
  align-items: center;
  right: -100%;
  transition: 00.2s;
  padding-right: 10vw;
}

.menuLinkResponsive li a {
  margin-left: 4vw;
  color: whitesmoke;
}

#menuHamToggle {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 1rem;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.containerMenu {
  display: flex;
  overflow: hidden;
}
.menuHam {
  position: absolute;
  top: 23px;
  right: 1rem;

  width: 30px;
  height: 4px;
  background: whitesmoke;
  border-radius: 5px;
}
.menuHam::after,
.menuHam::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  right: 0;
  background: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
}
.menuHam::before {
  top: -10px;
  height: 4px;
}
.menuHam::after {
  top: 10px;
  height: 4px;
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam::after {
  transform: rotate(90deg) translateX(-10px);
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam::before {
  transform: rotate(90deg) translateX(10px);
  opacity: 0;
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuHam {
  transform: rotate(45deg);
}
.navBarResponsive input[type="checkbox"]:checked ~ .menuLinkResponsive {
  right: 0;
}

.navBarResponsive input[type="checkbox"]:checked ~ .logoNav {
  opacity: 0;
}


.section {
  position: relative;
  padding: 20vh 10vmin;
  min-height: 100vh;
  width: 100%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7), 0 -15px 15px rgba(0, 0, 0, 0.7);
  background: 50% 50% / cover;
  z-index: -2;
}
#contact {
  padding: 20vh 10vmin;
  min-height: 100vh;
  width: 100%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7), 0 -15px 15px rgba(0, 0, 0, 0.7);
  background: 50% 50% / cover; 
  background-image: url("Medias/5.jpg");
  z-index: -3;
}
.artContainer img {
  width: 95%;
  filter:sepia(50%) opacity(80%);
  margin: 20px 2%;
  border-radius:1.5%;
}
.artContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 80%;
  margin: 0 2%;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.893);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 3%;
}
.artContainer p {
  
  font-size: 1em;
  margin: 0 2%;
  
}
#project .artContainer {
  margin-left: auto;
  margin-right: auto;
}
#actions .artContainer {
  transition: ease-in;
  margin-left: 0;
  margin-right: auto;
}
#agenda .artContainer {
  margin-left: auto;
  margin-right: 0;
}
footer {
  width: 100%;
  height: 3em;
  background-color: black;
  box-shadow: 0px -2px 5px rgba(23, 22, 22, 0.377);
  color: whitesmoke;
  text-align: center;
  padding-top: 1rem;
}
#project {
  background-image: url("./Medias/1.jpg");
  background-attachment: fixed;
}
#actions {
  background-image: url("./Medias/2.jpg");
  transform: translateZ(-1px) scale(1);
  z-index: -3;
}
#agenda {
  background-image: url("./Medias/3.jpg");
  background-attachment: fixed;
}

form {
  max-width: 420px;
  margin: 50px auto;
  
}
.contacts {
  width: 95%;
  margin: 0 2%;
  border-radius: 5px;
  background: rgba(200, 200, 200, 0.893);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 3%;
}
.contacts h2{
text-align: center;
}

.fInput {
  color: rgb(12, 12, 12);
  font-size: 1rem;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #1e1d1d;
  transition: all 0.3s;
  padding: 1px;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
}

.fInput:focus {
  background-color: rgba(245, 245, 245, 0.673);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
.submit {
  width: 100%;
  background: #373636;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: whitesmoke;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  
}
.submit:hover {
  background: #010101;
}
@media screen and (min-width: 650px) {
  .menuSocial {
    display: flex;
    align-items: center;
    padding: 9px;
    border: 3px solid;
  }
  .menuSocialResponsive {
    display: none;
  }
  .menuSocial li {
    display: inline-block;
    padding-right: 2.5vw;
    margin-left: 2.5vw;
    color: black;
    font-size: 20px;
  }
  .titleSocial li {
    padding-bottom: 5px;
    font-size: 25px;
  }
  .navBar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 3em;
    width: 100%;
    background: rgb(0, 12, 15);
    box-shadow: 0px 05px 5px rgba(23, 22, 22, 0.496);
    overflow: hidden;
  }
  .navBar .logoNav {
    width: 150px;
    height: 50px;
    color: whitesmoke;
    font-size: 30px;
    padding: 8px 0px 0px 4vw;
    transition: 0.5s;
  }
  .navBarResponsive {
    display: none;
  }
  .menuLinkResponsive {
    display: none;
  }
  .menuLink {
    display: flex;
    justify-content: flex-end;
    padding: 15px 6%;
  }
  .menuLink li a {
    color: whitesmoke;
    display: inline-block;
    margin-left: 6.2vw;
    font-size: 20px;
  }
  .floatLeft {
    float: left;
    margin: 5px;
  }
  .floatRight {
    float: right;
    margin: 5px;
  }
  .artContainer {
    display: block;
  }
  .artContainer img {
    max-width: 50%;
  }
}
